.search-area {
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    width: 100%;
    background-color: var(--c-primary-dark);
    justify-content: center;
}

.search-bar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar-input {
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid var(--c-text-light);
    color: var(--c-text-light);
    width: 95%;
    height: 50%;
    font-size: 1.2rem;
}

.search-results {
    color: var(--c-text-light);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.main-area .center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-primary);
    color: var(--c-text-light);
    width: 100%;
}

.main-area .spinner img {
    width: 38px;
}