.search-area {
    display: flex;
    width: 100%;
    height: 100%; 
    flex-direction: column;
}

.search-results {
    color: var(--c-main-text);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.main-area .center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-primary);
    color: var(--c-main-text);
    width: 100%;
    height: 100%;
}

.main-area .spinner img {
    width: 38px;
}