.area-header-container {
    display: flex;
    width: 100%;
    background-color: var(--c-primary-dark);
    justify-content: center;
}

.area-header {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.2em;
    padding-left: 2em;
    height: 100px;
    font-family: 'Varela Round', sans-serif;
}