.navcard-container {
    display: flex;
}

.navcard {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    padding: 5px;
}

.navcard div {
    flex: 8;
}

.navcard img {
    height: 20px;
    flex: 2;
    padding-right: 5px;
}