.navbar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    background-color: var(--c-primary-dark);
    border-right: 1px solid var(--c-primary);
    color: var(--c-text-light);
}

.navbar-header, .navbar-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-header {
    height: 100px;
    border-bottom: 1px solid var(--c-primary);
    transition: background-color 0.5s ease-in-out;
}

.navbar-header:hover {
    background-color: #000;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7rem;
    user-select: none;
    -webkit-user-select: none;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex: 8;
    padding-top: 30px;
}

.navbar-footer {
    height: 200px;
    border-top: 1px solid var(--c-primary);
}
