.lyrics-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 6;
}

textarea {
    flex: 1;
    border: 0;
    color: var(--c-main-text);
    background-color: inherit;
    resize: none;
    font-size: 1.2rem;
    font-family: Arial;
    font-family: 'Varela Round', sans-serif;
    padding: 2em 4em 2em 4em;
}

.lyrics-toolbar {
    display: flex;
    user-select: none;
    width: 100%;
    height: 50px;
    background-color: var(--c-primary-dim);
    border-bottom: 1px solid var(--c-primary);
    direction: rtl;
}

.toolbar-btn {
    cursor: pointer;
    display: flex;
    padding: 0 2em 0 2em;
    height: 100%;
    border-left: 1px solid var(--c-primary);
    font-family: 'Varela Round', sans-serif;
    transition: background-color 0.5s ease-in-out;
    text-align: center;
}

.toolbar-btn.disabled .toolbar-icon {
    opacity: 0.1;
}

.toolbar-btn.hidden {
    display: none;
}

.toolbar-btn:hover {
    background-color: var(--c-primary-dark);
}

.toolbar-btn.active {
    background-color: var(--c-primary-dark);
}

.toolbar-icon {
    display: flex;
    align-items: center;
}

.toolbar-icon .svg-container {
    width: 30px;
    height: 30px;
}
